---
import Layout from "@layouts/Home.astro";
import siteData from "@data/site.json";

//import { getCollection, getEntryBySlug } from "astro:content";

import { getEntryBySlug } from "astro:content";

// // Get all entries from a collection. Requires the name of the collection as an argument.
// const allBlogPosts = await getCollection("about");

// // Get a single entry from a collection. Requires the name of the collection and the entry's slug as arguments.
const about = await getEntryBySlug("about", "about-us");

// import * as oneBlogPost from "../pages/about-us.md";
// import { Content as AboutContent } from "../pages/about-us.md";

export interface Props {
  description: string;
  cssBodyClass: string;
  title: string;
  subtitle: string;
  category: string;
  photography: string;
  coverImage: {};
  pubDate: any;
}

const { Content } = await about.render();
// const { title, coverImage } = Astro.props.data || Astro.props;
---

<Layout
  cssBodyClass="about"
  title="About us"
  description={siteData.description}
>

  <Content />

  <br />

  <hr />
  <hr />
  <hr />

  <br />

  <br />
  <div class="centered">
    {siteData.subtitle.toUpperCase()}
    <span class="break_on_phones"><span>|</span></span>
    LICENSE: {siteData.license.name}
    <span class="break_on_phones"><span>|</span></span>
    AUTHOR: {siteData.author.name.toUpperCase()}

    <hr />
    <div>PROJECTIMAGE: {siteData.projectimage}</div>
    <hr />
    <div>author: {siteData.author.name.toUpperCase()}</div>
    <hr />
    <div>{siteData.company.name.toUpperCase()}</div>
    <hr />
    <div>
      MAIL: {siteData.company.email}
    </div>
    <hr />
    <div>
      GITHUB: {siteData.company.github}
    </div>
    <hr />
    <div>
      IG: {siteData.company.instagram}
    </div>
    <hr />
    <a title="licence" href={siteData.license.url}>{siteData.license.name}</a>
    <hr />
    <a title="produced by" href={siteData.producer.url}
      >{siteData.producer.name}</a
    >
    <hr />
    <a class="lowercase" title="site url" href={siteData.url}>{siteData.url}</a>
    <hr />
    <div>
      {siteData.company.name.toUpperCase()}
      <span class="break_on_phones"><span>|</span></span>
      {siteData.tldr.toUpperCase()}
      <span class="break_on_phones"><span>|</span></span>
      v{siteData.version}
    </div>
    <div>
      <hr />
      {about.data.title}<br />
      {about.data.subtitle}<br />
      {about.data.description}<br />
      <hr />
    </div>
  </div>
</Layout>
<style>
  hr {
    opacity: 0.25;
  }
  .lowercase {
    text-transform: lowercase;
  }
</style>
