---
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";

import { getCollection } from "astro:content";
import Card from "@components/Card.astro";

const collectionName = "health";
const coltitle = collectionName.toLocaleUpperCase();
const posts = await getCollection(collectionName);

export interface Props {
  collectionName: string;
}
---

<Layout
  title={coltitle}
  description={siteData.tldr}
  photography=""
  category={collectionName}
>
  <h2 class="uppercased">{collectionName}</h2>
  <div class="grida">
    {
      posts.map((post) => (
        <a class="CQcard_link" href={`/${collectionName}/${post.slug}`}>
          <Card
            cssClass="CONTAINER_QUERY_CARD"
            description=""
            pubDate={post.data.pubDate}
            subtitle={post.data.subtitle}
            description={post.data.description}
            photography={post.data.photography}
            title={post.data.title}
            coverImage={post.data.coverImage}
          />
        </a>
      ))
    }
  </div>
</Layout>
<style lang="scss">
  .grida {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
