---
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";

const posts = await getCollection("health");

const collectionName = "health";

export interface Props {
  collectionName: string;
}
---

<Layout title={collectionName} description={siteData.tldr}>
  <h2 class="uppercased">{collectionName}</h2>
  <div class="ul health">
    {
      posts.map((post) => (
        <div class="li">
          <a href={`/health/${post.slug}`}>{post.data.title}</a>
        </div>
      ))
    }
  </div>
</Layout>

<style></style>
