---
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";

const collectionName = "services";
const posts = await getCollection(collectionName);

export interface Props {
  collectionName: string;
  description: string;
  category: string;
  photography: string;
}

const description = siteData.description;
const category = "health";
const photography = "";
---

<Layout
  title={siteData.tldr}
  description={description}
  category={category}
  photography={photography}
  coverImage={}
>
  <h2 class="uppercased">{collectionName}</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/services/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
