---
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";

const collectionName = "services";
const posts = await getCollection(collectionName);

export interface Props {
  collectionName: string;
  description: string;
  category: string;
  photography: string;
}

const title = collectionName.toLocaleUpperCase();
---

<Layout
  title={title}
  description={siteData.tldr}
  photography=""
  category={collectionName}
  coverImage={}
>
  <h2 class="uppercased">{collectionName}</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/services/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
