---
import { type CollectionEntry, getCollection } from 'astro:content'
import Article from '@layouts/Article.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts', ({ data }) => {
    return data.publish && data.category == 'know'
  })

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const { Content } = await post.render()
const bodyClass = 'know'
const cssClass = ''
---

<Article
  {...post.data}
  bodyClass={bodyClass}
  cssClass={cssClass}
  description={post.data.description}
  ogImage={post.data.coverImage.src}>
  <ul class="tags">
    {
      post.data.tags.map((tag) => {
        return (
          <li>
            <a class="" href={`/${tag}/`}>
              {tag}
            </a>
          </li>
        )
      })
    }
  </ul>

  <Content />
</Article>


