---
import Layout from "@layouts/Layout.astro"
import { getCollection } from "astro:content";
import Card from "@components/Card.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("articles");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title="" description="" cssBodyClass="">
    <p>Posts tagged with {tag}</p>

    <div class="grida">
    {
      posts.map((post: any) => (
        <a class="card_link" href={`/${tag}/${post.slug}`}>
          <Card
            cssClass="card"
            pubDate={post.data.pubDate}
            subtitle={post.data.subtitle}
            description={post.data.description}
            photography={post.data.photography}
            title={post.data.title}
            coverImage={post.data.coverImage}
          />
        </a>
      ))
    }
  </div>
<!--
    <ul>
        { posts.map((post) => <Card url={'/posts/' + post.slug} title={post.data.title} />) }
    </ul> -->
</Layout>