---
//import { getCollection, getEntryBySlug } from "astro:content";
import { getCollection } from 'astro:content'
import Layout from '@layouts/Index.astro'
const allPosts = await getCollection('posts')
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
const title = 'ALL TAGS'
---

<Layout cssBodyClass="" description="" title={title}>
  <h2 class="h3 uppercased centered green">All Tags</h2>
  <div class="container centered">
    {
      tags.map((tag) => (
        <a class="taglink" href={`/${tag}`} style={"font-size: calc(" + `${tag.length}` + "vw /6 + 1rem) ;"}>
          {tag} <small class="post_count ">{tag.length}</small>
        </a>
      ))
    }
  </div>
</Layout>
<style lang="scss">
  .taglink {
    padding-right: 1rem;
    text-transform: uppercase;
    display: inline-block !important;
    min-height: 48px;
    line-height: 1;
    word-break: break-all;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    opacity: .75;
  }
  .post_count {
    //color: var(--primary-inverse);
    opacity: .5;
    white-space: nowrap;
  }
</style>
