---
import Layout from "@layouts/Layout.astro";
import siteData from "@data/site.json";

import { getCollection, getEntryBySlug } from "astro:content";

// // Get all entries from a collection. Requires the name of the collection as an argument.
// const allBlogPosts = await getCollection("about");

// // Get a single entry from a collection. Requires the name of the collection and the entry's slug as arguments.
// const oneBlogPost = await getEntryBySlug("about", "about-us");

export interface Props {
  title: string;
  description: string;
}
---

<Layout
  cssBodyClass="about"
  title="About us"
  category=""
  description={siteData.description}
>
  <div class="centered">
    {siteData.title.toUpperCase()} | {siteData.subtitle.toUpperCase()} | {
      siteData.license.name
    } - {siteData.author.name.toUpperCase()}

    <hr />
    <div>PROJECTIMAGE: {siteData.projectimage}</div>
    <hr />
    <div>author: {siteData.author.name.toUpperCase()}</div>
    <hr />
    <div>{siteData.company.name.toUpperCase()}</div>
    <hr />
    <div>
      MAIL: {siteData.company.email}
    </div>
    <hr />
    <div>
      GITHUB: {siteData.company.github}
    </div>
    <hr />
    <div>
      IG: {siteData.company.instagram}
    </div>
    <hr />
    <a href={siteData.license.url}>{siteData.license.name}</a>
    <hr />
    <a href={siteData.producer.url}>{siteData.producer.name}</a>
    <hr />
    <a href={siteData.url}>{siteData.url}</a>
    <hr />
    <div>
      {siteData.company.name.toUpperCase()} | {siteData.tldr.toUpperCase()} | v{
        siteData.version
      }
    </div>
  </div>

  <style></style>
</Layout>
