---
import Layout from "@layouts/Body.astro";
import siteData from "@data/site.json";

//const posts = await Astro.glob("../pages/about.md");
//const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);

// import * as about from "../pages/about-us.md";
// /const { Content } = Astro.props.post;

import { getCollection, getEntryBySlug } from "astro:content";

// Get all entries from a collection. Requires the name of the collection as an argument.
const allBlogPosts = await getCollection("about");

// Get a single entry from a collection. Requires the name of the collection and the entry's slug as arguments.
const oneBlogPost = await getEntryBySlug("about", "about-us");
---

<Layout cssClass="abou">
  <div class="sitedata centered">
    {siteData.title} | {siteData.subtitle} | {siteData.tldr} | v{
      siteData.version
    }

    <hr />
    <div>PROJECTIMAGE: {siteData.projectimage}</div>
    <hr />
    <div>AUTHOR: {siteData.author.name}</div>
    <hr />
    <div>COMPANY NAME: {siteData.company.name}</div>
    <hr />
    <div>COMPANY MAIL: {siteData.company.email}</div>
    <hr />
    <div>COMPANY GITHUB: {siteData.company.github}</div>
    <hr />
    <div>COMPANY IG: {siteData.company.instagram}</div>
    <hr />
    <a href={siteData.license.url}>{siteData.license.name}</a>
    <hr />
    <a href={siteData.producer.url}>{siteData.producer.name}</a>
    <hr />
    <a href={siteData.url}>{siteData.url}</a>

    <hr />
  </div>

  <style></style>
</Layout>
