---
import Layout from "@layouts/Body.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";

const healthArticles = await getCollection("health", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});
const knowArticles = await getCollection("know");
const productsArticles = await getCollection("products");
const servicesArticles = await getCollection("services");
const solutionsArticles = await getCollection("solutions");
const techniquesArticles = await getCollection("techniques");
---

<Layout
  title={siteData.tldr}
  description={siteData.description}
  bodyClass="index"
>
  <section class="health">
    <h2 class="">HEALTH</h2>
    <div class="">
      {
        healthArticles.map((blogPostEntry) => (
          <div class="">
            <a href={`/health/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="know">
    <h2 class="">KNOW</h2>
    <div class="ul">
      {
        knowArticles.map((blogPostEntry) => (
          <div class="">
            <a class="" href={`/know/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="products">
    <h2 class="">PRODUCTS</h2>
    <div class="">
      {
        productsArticles.map((blogPostEntry) => (
          <div class="">
            <a class="" href={`/products/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="services">
    <h2 class="">SERVICES</h2>
    <div class="">
      {
        servicesArticles.map((blogPostEntry) => (
          <div class="">
            <a class="" href={`/services/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="solutions">
    <h2 class="">SOLUTIONS</h2>
    <div class="">
      {
        solutionsArticles.map((blogPostEntry) => (
          <div class="">
            <a class="" href={`/solutions/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="techniques">
    <h2 class="">TECHNIQUES</h2>
    <div class="ul">
      {
        techniquesArticles.map((blogPostEntry) => (
          <div class="li">
            <a class="" href={`/techniques/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
<style lang="scss">
  section {
    padding-left: var(--space_small);
    padding-right: var(--space_small);
  }
</style>
