---
import Layout from "@layouts/Home.astro";
import { getCollection } from "astro:content";
import Card from "@components/Card.astro";

// const posts = await getCollection("articles", ({ data }) => {
//   return !data.draft && data.pubDate < new Date();
// });

const posts = await getCollection('articles');

export interface Props {
  title: string;
  cssBodyClass: string;
  pubDate: any;
  category: string;
}

import siteData from "@data/site.json";
const title = "Curated Info Platform";
const cssBodyClass = "index";
const category = "articles";
---


<Layout
  title={title}
  description={siteData.description}
  cssBodyClass={cssBodyClass}
>
<h2 class="uppercased">Recent Articles</h2>
<div class="grida">
    {
      posts.map((post) => (
        <a class="card_link" href={`/${category}/${post.slug}`}>
          <Card
            cssClass="card"
            pubDate={post.data.pubDate}
            subtitle={post.data.subtitle}
            description={post.data.description}
            photography={post.data.photography}
            title={post.data.title}
            coverImage={post.data.coverImage}
          />
        </a>
      ))
    }
  </div>



</Layout>
<style lang="scss">
  // details {
  //   padding-left: var(--space_small);
  //   padding-right: var(--space_small);
  //   summary::after {
  //     content: "V" !important;
  //     font-size: 20px;
  //     position: relative;
  //     top: -2.5rem;
  //     width: 2.5rem;
  //     height: 2.5rem;
  //     background-image: none !important;
  //   }
  // }
    .grida {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .card_link {
    text-decoration: none;
  }
</style>
