---
import Layout from "@layouts/Layout.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";

const healthArticles = await getCollection("health", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});
const knowArticles = await getCollection("know");
const productsArticles = await getCollection("products");
const servicesArticles = await getCollection("services");
const solutionsArticles = await getCollection("solutions");
const techniquesArticles = await getCollection("techniques");
---

<Layout
  title={siteData.tldr}
  description={siteData.description}
  bodyClass="index"
>
  <section class="health">
    <h2 class="cinkuenta">HEALTH</h2>
    <div class="ul vertical">
      {
        healthArticles.map((blogPostEntry) => (
          <div class="fotifai up_shift">
            <a href={`/health/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="know">
    <h2 class="fotifai is_relative">KNOW</h2>
    <div class="ul">
      {
        knowArticles.map((blogPostEntry) => (
          <div class="li align_natural ">
            <a class="vertical" href={`/know/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="products">
    <h2 class="vertical">PRODUCTS</h2>
    <div class="ul is_relative">
      <div class="li fotifai">
        <h2 class="horizontal up_shift">PRODUCTS</h2>
      </div>
      {
        productsArticles.map((blogPostEntry) => (
          <div class="li">
            <a class="vertical" href={`/products/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="services">
    <h2 class="vertical">SERVICES</h2>
    <div class="ul">
      {
        servicesArticles.map((blogPostEntry) => (
          <div class="li align_natural">
            <a class="vertical" href={`/services/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="solutions">
    <h2 class="novanta">SOLUTIONS</h2>
    <div class="ul">
      {
        solutionsArticles.map((blogPostEntry) => (
          <div class="li spaced">
            <a class="" href={`/solutions/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="techniques">
    <h2 class="">TECHNIQUES</h2>
    <div class="ul">
      {
        techniquesArticles.map((blogPostEntry) => (
          <div class="li">
            <a class="vertical" href={`/techniques/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>
</Layout>

<style lang="scss">
  .ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .li {
      min-height: 42px;
      min-width: 42px;
    }
  }

  .techniques {
    .li a.vertical {
      display: block;
      font-size: 1.5rem;
      font-size: clamp(3.33rem, 5.55vw, 111px) !important;
      font-weight: 100;
      line-height: 0.75;
    }
  }
</style>
