---
import Layout from "@layouts/Home.astro";
import { getCollection } from "astro:content";

const healthArticles = await getCollection("health", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});
const knowArticles = await getCollection("know", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});
const productsArticles = await getCollection("products", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});
const servicesArticles = await getCollection("services", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});
const solutionsArticles = await getCollection("solutions", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});
const techniquesArticles = await getCollection("techniques", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});

export interface Props {
  title: string;
  cssBodyClass: string;
  pubDate: any;
  collectionName: string;
}

import siteData from "@data/site.json";
const title = "Curated Info Platform";
const cssBodyClass = "index";
---

<Layout
  title={title}
  description={siteData.description}
  cssBodyClass={cssBodyClass}
>
  <details class="know">
    <summary class="h3">KNOW</summary>
    <div class="ul">
      {
        knowArticles.map((post) => (
          <div class="">
            <a class="" href={`/know/${post.slug}`}>
              {post.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </details>
  <details class="health" open>
    <summary class="h3">HEALTH</summary>
    <div class="">
      {
        healthArticles.map((post) => (
          <div class="">
            <a href={`/health/${post.slug}`}>{post.data.title}</a>
          </div>
        ))
      }
    </div>
  </details>

  <details class="products">
    <summary class="h3">PRODUCTS</summary>
    <div class="">
      {
        productsArticles.map((post) => (
          <div class="">
            <a class="" href={`/products/${post.slug}`}>
              {post.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </details>

  <details class="services">
    <summary class="h3">SERVICES</summary>
    <div class="">
      {
        servicesArticles.map((post) => (
          <div class="">
            <a class="" href={`/services/${post.slug}`}>
              {post.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </details>

  <details class="solutions">
    <summary class="h3">SOLUTIONS</summary>
    <div class="">
      {
        solutionsArticles.map((post) => (
          <div class="">
            <a class="" href={`/solutions/${post.slug}`}>
              {post.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </details>

  <details class="techniques">
    <summary class="h3">TECHNIQUES</summary>
    <div class="ul">
      {
        techniquesArticles.map((post) => (
          <div class="li">
            <a class="" href={`/techniques/${post.slug}`}>
              {post.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </details>
</Layout>
<style lang="scss">
  details {
    padding-left: var(--space_small);
    padding-right: var(--space_small);
  }
</style>
