---
import { getCollection } from "astro:content";
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";

const knowArticles = await getCollection("know", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});

const techniquesArticles = await getCollection("techniques", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});

const solutionsArticles = await getCollection("solutions", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});

export interface Props {
  cssBodyClass: string;
  title: string;
}
const collectionName = "resources";
const title = collectionName.toLocaleUpperCase();

import Card from "@components/Card.astro";
---

<Layout
  title={title}
  description={siteData.description}
  category={collectionName}
  photography=""
>
  <section class="know">
    <h4 class="">KNOW</h4>
    <div class="ul">
      {
        knowArticles.map((post) => (
          <div class="">
            <a class="" href={`/know/${post.slug}`}>
              {post.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="solutions">
    <h4 class="">SOLUTIONS</h4>
    <div class="ul">
      <!-- {
        solutionsArticles.map((post) => (
          <div class="">
            <a class="" href={`/solutions/${post.slug}`}>
              {post.data.title}
            </a>
          </div>
        ))
      } -->

      <h2 class="uppercased">solutions</h2>
      <div class="grida">
        {
          solutionsArticles.map((post) => (
            <a class="CQcard_link" href={`/solutions/${post.slug}`}>
              <Card
                cssClass="card"
                description=""
                pubDate={post.data.pubDate}
                subtitle={post.data.subtitle}
                description={post.data.description}
                photography={post.data.photography}
                title={post.data.title}
                coverImage={post.data.coverImage}
              />
            </a>
          ))
        }
      </div>
    </div>
  </section>

  <section class="techniques">
    <h4 class="">TECHNIQUES</h4>
    <div class="ul">
      {
        techniquesArticles.map((post) => (
          <div class="li">
            <a class="" href={`/techniques/${post.slug}`}>
              {post.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
<style lang="scss">
  .container {
    display: flex !important;
  }
  section {
    padding-left: var(--space_small);
    padding-right: var(--space_small);
  }

  .grida {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
