---
import siteData from "@data/site.json";
const today = new Date();
---

<div class="copyright r1deg">
  <span>Copyright © 2018-{today.getFullYear()}</span>
  <span class="uppercase">{siteData.title}.</span>
  <br class="show_on_phones" />Released under

  <a
    id="magicgreen-to-creativecommons"
    title="This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. This is the most accommodating of licenses offered. Recommended for maximum dissemination and use of licensed materials."
    href={siteData.license.url}
    target="_blank"
    class="open_in_new_window"
    rel="noopener"
    >{siteData.license.name}
  </a>

  <span>
    <br class="show_on_phones" /> Powered by <a
      id="magicgreen-to-junglestar"
      href={siteData.producer.url}
      target="_blank"
      class="open_in_new_window"
      rel="noopener">{siteData.producer.name}</a
    >
  </span>
</div>

<style lang="scss">
  .copyright {
    width: 100%;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.25);
    color: var(--primary-hover);
    text-align: center;
    padding-top: calc(var(--space) * 2);
    padding-bottom: calc(var(--space) * 3);
    margin-bottom: -3rem;
    font-size: 90%;
  }
</style>
