---
import navigation from "@data/navigation.json";
const sections = navigation.sections;
export interface Props {
  cssClass: string;
}

const cssClass = "nav";

import "@styles/pico.slim.scss";
---

<nav class={cssClass} role="menu">
  {
    sections.map((section) => (
      <a
        class={section.color_name}
        href={section.url}
        title={section.description}
        role="menuitem"
      >
        <button class="outline">{section.label.toLocaleUpperCase()}</button>
      </a>
    ))
  }
</nav>
<style lang="scss">
  nav {
    width: 80%;
    margin: 0 auto;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: var(--space_small);
    padding-right: var(--space_small);
    justify-content: space-between;
    a {
      font-size: 110%;
      display: block;
      min-height: 48px;
      padding-left: var(--space-small);
      padding-right: var(--space);
      user-select: none;
      :hover {
        opacity: 95%;
      }
    }
  }
</style>
