---
import navigation from "@data/navigation.json";
const sections = navigation.sections;

// const navCssClass = "nav_top";
// export interface Props {
//   navCssClass: string;
// }

export interface Props {
  title: string;
}

const title = "nav";

import "@styles/pico.slim.scss";
---

<nav class={title} role="menu">
  {
    sections.map((section) => (
      <a
        class={section.color_name}
        href={section.url}
        title={section.description}
        role="menuitem"
      >
        {section.label}
      </a>
    ))
  }
</nav>
<style lang="scss">
  nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: var(--space_small);
    padding-right: var(--space_small);
    justify-content: center;
    a {
      text-transform: uppercase;
      min-height: 48px;
      padding-left: var(--space_small);
      padding-right: var(--space_small);
    }
  }
</style>
