---
import navigation from '@data/navigation.json'
const sections = navigation.sections
export interface Props {
  cssClass: string
}

const cssClass = 'nav_category_top'

import '@styles/pico.slim.scss'
---

<nav class={cssClass}>
  {
    sections.map((section) => (
      <a rel="prefetch"
        class={section.color_name}
        href={section.url}
        title={section.description}>
        <button class="outline">{section.label.toUpperCase()}</button>
      </a>
    ))
  }
</nav>
<style lang="scss">
  nav {
    width: 96%;
    margin: 0 auto;
    min-height: 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    a {
      font-size: 105%;
      display: block;
      min-height: 42px;
      user-select: none;
      padding-left: calc(var(--space_small) / 1.5);
      padding-right: calc(var(--space_small) / 1.5);
      :hover {
        opacity: 95%;
      }
      &.active button {
        color: var(--contrast);
        border-color: var(--contrast);
      }
    }
    button {
      display: block;
      padding: 0.25;
      margin-bottom: calc(var(--space_small) / 2);
    }
  }
</style>

<script>
  var section = window.location.pathname.split('/')[1]

  const activeNavigationElement = document.querySelector(
    `nav a[href*="${section}"]`
  )

  if (activeNavigationElement) {
    activeNavigationElement.classList.add('active')
  }
</script>