---
const collectionName = "products";
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";

import { getCollection } from "astro:content";
import Card from "@components/Card.astro";
import StyleCardContainerQuery from "@components/StyleCardContainerQuery.astro";

const coltitle = collectionName.toLocaleUpperCase();
const posts = await getCollection(collectionName);

export interface Props {
  collectionName: string;
}
---

<Layout
  title={coltitle}
  description={siteData.tldr}
  photography=""
  category={collectionName}
>
  <h2 class="uppercased">{collectionName}</h2>
  <div class="ul">
    {
      posts.map((post) => (
        <div class=" li">
          <a href={`/${collectionName}/${post.slug}`}>
            <Card
              description=""
              pubDate={post.data.pubDate}
              subtitle={post.data.subtitle}
              photography={post.data.photography}
              title={post.data.title}
              coverImage={post.data.coverImage}
            />
          </a>
        </div>
      ))
    }
  </div>
</Layout>

<StyleCardContainerQuery />
