---
import Layout from '@layouts/Index.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'

const category = 'solutions'

const unsortedPosts = await getCollection('posts', ({ data }) => {
  return data.publish && data.category == category && data.pubDate < new Date()
})

const posts = unsortedPosts.sort(
  (a, b) =>
    Date.parse(b.data.pubDate.toString()) -
    Date.parse(a.data.pubDate.toString())
)



export interface Props {
  title: string
  bodyClass: string
  mainClass: string
  pubDate: any
  category: string
  ogImage?: string
}

import siteData from '@data/site.json'
const bodyClass = category
const ogImage = '../assets/p/og_large_image.jpg'
const mainClass = 'container'
---

<Layout
  title={category.toUpperCase()}
  description={siteData.description}
  bodyClass={bodyClass}
  mainClass={mainClass}
  ogImage={ogImage}>
  <!-- <h2 class="h3 uppercased centered green">{category}</h2> -->
  <div class="grida">
    {
      posts.map((post) => (
        <a class="card_link" href={`/${category}/${post.slug}`}>
          <Card
            cssClass="card"
            pubDate={post.data.pubDate}
            subtitle={post.data.subtitle}
            description={post.data.description}
            photography={post.data.photography}
            category={post.data.category}
            title={post.data.title}
            coverImage={post.data.coverImage}
            ad={post.data.ad}
          />
        </a>
      ))
    }
  </div>
</Layout>
<style lang="scss">
  .grida {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .card_link {
    text-decoration: none;
  }
</style>
