---
import type { CollectionEntry } from "astro:content";

import Base from "@layouts/Base.astro";

import FormattedDate from "@components/FormattedDate.astro";

import IconPhotographer from "@svgs/photographer.svg";
import IconClock from "@svgs/clock.svg";

type Props = CollectionEntry<"health">["data"];

const {
  title,
  subtitle,
  description,
  category,
  photography,
  coverImage,
  pubDate,
  updatedDate,
} = Astro.props;
---

<Base title={title} description={description}>
  <div class="post_header">
    <h1>{title}</h1>
    <h2 class="border_top border_bottom">{subtitle}</h2>

    <div class="h5 post_metas">
      <div class="post_meta_block">
        <div class="post_meta_icon">
          <IconPhotographer />
        </div>

        <div class="post_meta_text nowrap" title="photography by">
          {photography}
        </div>
      </div>

      <div class="post_meta_block">
        <div class="post_meta_icon">
          <IconClock />
        </div>
      </div>
    </div>
  </div>

  <div>section: {category}</div>
  <div>
    date: <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
  </div>
  <div>img: {coverImage}</div>
  <div>photography: {photography}</div>

  <slot />
</Base>
