---
import Head from '@components/Head.astro'
import Svgs from '@components/Svgs.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import '@styles/pico.slim.scss'
import StyleArticle from '@components/StyleArticle.astro'
import Nav from '@components/Nav.astro'
import AppendToCopyAction from '@scripts/AppendToCopyAction.astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'

export interface Props {
  description: string
  bodyClass: string
  title: string
  subtitle: string
  category: string
  photography: string
  coverImage: any
  pubDate: any
  tags: any
  cssClass: string
  ogImage?: string
}

const {
  title,
  subtitle,
  description,
  category,
  coverImage,
  photography,
  pubDate,
  cssClass,
  bodyClass,
  ogImage
} = Astro.props

const options = {
  weekday: 'long',
  year: 'numeric',
  month: 'long'
}
---

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <Head title={title} description={description} ogImage={ogImage} />

  <body class={'article ' + bodyClass}>
    <Svgs />

    <div id="top"></div>

    <Header />

    <Nav cssClass={cssClass} />

    <main>
      <article>
        <div class="post_header container">
          <h1 class="compacted centered">{title.toUpperCase()}</h1>
          <h2 class="centered border_top border_bottom">
            {subtitle}
          </h2>
        </div>

        <div class="hero">
          <Image
            class="coverimage"
            src={coverImage}
            width={1920}
            height={1080}
            alt={title}
            quality="mid"
            format="avif"
          />
        </div>

        <div class="h5 post_metas">
          <div class="post_meta_block post_meta_icon">
            <Icon name="photographer" />
            <span class="post_meta_text nowrap">
              {photography}
            </span>
          </div>

          <div class="post_meta_block post_meta_icon">
            <Icon name="clock" />
            <time datetime={pubDate.toDateString()}>
              {pubDate.toLocaleDateString('en-GB')}
            </time>
          </div>

          <div class="post_meta_block post_meta_icon">
            <Icon name="target" />
            {category.toUpperCase() || 'UNKNOWN'}
          </div>
        </div>

        <div class="post_content padding_top">
          <slot />
        </div>
      </article>
    </main>

    <script is:inline>
      const images = Array.from(document.querySelectorAll('img'))

      images.forEach((image) => {
        let alt = image.getAttribute('alt')

        if (alt) {
          image.insertAdjacentHTML('afterEnd', `<p class="caption">${alt}</p>`)
        }
      })
    </script>

    <Footer cssClass="footer" />

    <AppendToCopyAction />

    <StyleArticle />
  </body>
</html>
