---
import { Picture } from "@astrojs/image/components";

import Layout from "@layouts/Layout.astro";
import PostMetas from "@components/PostMetas.astro";

//import type { CollectionEntry } from "astro:content";
// type Props = CollectionEntry<"health">["data"];

const {
  title,
  subtitle,
  description,
  category,
  photography,
  coverImage,
  pubDate,
  updatedDate,
} = Astro.props;
---

<Layout bodyClass="article" title={title} description={description}>
  <article>
    <Picture
      src={coverImage}
      widths={[640, 880, 1024, 1920]}
      aspectRatio="1:1"
      sizes="(max-width: 1920px) 100vw, 1024px, 880px, 640px"
      alt={coverImage}
    />

    <div class="post_header container">
      <h1 class="ftw">{title}</h1>
      <h2 class="border_top border_bottom">{subtitle}</h2>

      <PostMetas />
    </div>

    <div class="container padding_top">
      <slot />
    </div>
  </article>
</Layout>
<style lang="scss">
  article {
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: var(--space_horizontal);
    padding-left: var(--space_horizontal);
  }
  .post_header {
    position: relative;
    overflow: hidden;
  }

  picture {
    &::after {
      content: url({coverImage});
    }
  }

  .ftw {
    line-height: 0.75;
    line-height: 1ch;
    position: relative;
    z-index: 10;
  }
  .ftw_shadow {
    line-height: 0.5;
    position: absolute;
    top: 10px;
    left: -50px;
    z-index: 01;
  }

  .padding_top {
    padding-top: var(--space);
  }
</style>
