---
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Body.astro";
import PostMetas from "@components/PostMetas.astro";
export interface Props {
  description: string;
  bodyClass: string;
  title: string;
  category: string;
  coverImage: URL;
  cssClass: string;
}

const { title, subtitle, description, category, coverImage, cssClass } =
  Astro.props.frontmatter || Astro.props;
---

<Layout cssClass="article" title={title} description={description}>
  <article class={category}>
    <div class="post_header container">
      <h1 class="compacted centered">{title}</h1>
      <h2 class="centered border_top border_bottom">{subtitle}</h2>
    </div>

    <div class="hero vegas_container">
      <div class="vegas_overlay"></div>
      <div class="vegas_slide">
        <Picture
          attributes={{ class: "hero_picture" }}
          src={coverImage}
          widths={[640, 880, 1024, 1920]}
          aspectRatio="1:1"
          sizes="(max-width: 1920px) 100vw, 1024px, 880px, 640px"
          alt={coverImage}
        />
      </div>
    </div>

    <PostMetas />

    <div class="post_content container padding_top">
      <slot />
    </div>
  </article>
</Layout>
<style lang="scss">
  article {
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: var(--space_horizontal);
    padding-left: var(--space_horizontal);
    box-shadow: none;
    .know-more-links {
      border-bottom: 4px solid var(--primary) !important;
      border-radius: 5px;
      color: red !important;
    }
  }

  .post_content {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  picture {
    object-fit: none;

    img.hero {
      display: block !important;
      position: relative !important;

      height: 700px !important;
    }
  }

  //rok recent

  .post_header {
    padding-top: var(--space);
  }
  .hero {
    position: relative;
  }
  .vegas_overlay {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent url("/assets/overlays/07.png") center center repeat;
  }

  body .vegas_container {
    overflow: hidden !important;
    position: relative;
  }

  body.vegas_container {
    overflow: auto;
    position: static;
    z-index: -2;
  }

  body.vegas_container > .vegas_slide {
    position: fixed;
    z-index: -1;
  }
</style>
