---
import { SEO } from "astro-seo";
import Junglestar from "@components/Junglestar.astro";
import Svgs from "@components/Svgs.astro";
import Nav from "@components/Nav.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import siteData from "@data/site.json";
import "../scss/pico.scss";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props.frontmatter || Astro.props;

const Brand = siteData.title;
const Mission = siteData.content_is_about;

const canonicalURL = new URL(Astro.url.pathname, siteData.url).toString();

const makeTitle = title
  ? Brand + " | " + title
  : "Junglestar - your customers should understand you!";

const makeTitleOG = title
  ? Brand + ", " + Mission + ", " + title
  : "Junglestar - your customers should understand you!";

const resolvedImageWithDomain = new URL(
  siteData.projectimage,
  siteData.url
).toString();
---

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta name="version" content={siteData.version} />
    <Junglestar />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="assets/favicons/safari-pinned-tab.svg"
    />

    <SEO
      title={makeTitle}
      description={description}
      canonical={canonicalURL}
      twitter={{
        creator: siteData.author.twitter,
        site: siteData.url,
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitleOG,
          image: resolvedImageWithDomain,
        },
        image: {
          secureUrl: resolvedImageWithDomain,
          alt: Mission,
        },
      }}
    />
    <meta name="keywords" content={siteData.keywords} />
  </head>
  <body>
    <Svgs />

    <Nav />

    <Header />

    <main class="container">
      <slot />
    </main>

    <Footer />
    <style lang="scss" is:global>
      .hide {
        display: none;
      }
      body {
        margin: 0;
      }
      .outline_color {
        fill: black;
      }
      .fill_color {
        fill: var(--primary);
        &:hover {
          fill: var(--primary-hover);
        }
      }
      .show_on_phones {
        @media (min-width: 576px) {
          display: none !important;
        }
      }
      // breakpoints
      // Min  @media (min-width: 576px)
      // Bp1  @media (min-width: 768px)
      // Bp2  @media (min-width: 992px)
      // Max  @media (min-width: 1200px)
    </style>
  </body>
</html>
