---
import Layout from "@layouts/Layout.astro";
import Svgs from "@components/Svgs.astro";
import Nav from "@components/Nav.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

export interface Props {
  bodyClass: string;
  category: any;
}

const { bodyClass, category } = Astro.props.frontmatter || Astro.props;
---

<Layout>
  <body cssClass={bodyClass}>
    <Svgs />

    <Header data-type={category} title={bodyClass} />

    <Nav title={bodyClass} />

    <main class={bodyClass}>
      <slot />
    </main>

    <Footer cssClass={bodyClass} />
  </body>
</Layout>
<style lang="scss">
  main {
    padding-top: var(--space) !important;
    padding-bottom: var(--space) !important;
  }
</style>
