---
import Layout from '@layouts/Layout.astro'
import Nav from '@components/Nav.astro'
import Slogan from '@components/Slogan.astro'

export interface Props {
  description: string
  title: string
  category?: string | undefined
  pubDate?: any | undefined
  bodyClass: string
  mainClass: string
  ogImage?: string
}

const { category, description, title, bodyClass, mainClass, ogImage } = Astro.props
---

<Layout
  title={title}
  description={description}
  category={category}
  bodyClass={bodyClass}
  ogImage={ogImage}>

  <Nav cssClass="nav" />

  <main class={mainClass}>

    <slot />

    <Slogan />

  </main>
</Layout>

<style lang="scss">
  h1,
  .h1 {
    font-size: calc(6vw + 6vh) !important;
  }
  main {
    padding-top: var(--space);
  }
</style>
