---
//components
import Styles from "@components/Styles.astro";
import Junglestar from "@components/Junglestar.astro";
import Body from "@layouts/Body.astro";

//plugins
import { SEO } from "astro-seo";

//js
export interface Props {
  title: string;
  description: string;
  bodyClass: string;
}

const { title, description, cssClass } = Astro.props.frontmatter || Astro.props;

//data
import site from "@data/site.json";
const Brand = site.title;
const Mission = site.content_is_about;

const canonicalURL = new URL(Astro.url.pathname, site.url).toString();

const makeTitle = title
  ? Brand + " | " + title
  : "Junglestar - your customers should understand you!";

const makeTitleOG = title
  ? Brand + ", " + Mission + ", " + title
  : "Junglestar - your customers should understand you!";

const resolvedImageWithDomain = new URL(site.projectimage, site.url).toString();
---

<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta name="version_name" content={site.version_name} />
    <meta name="version" content={site.version} />

    <Junglestar />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="assets/favicons/safari-pinned-tab.svg"
    />

    <SEO
      title={makeTitle}
      description={description}
      canonical={canonicalURL}
      twitter={{
        creator: site.author.twitter,
        site: site.url,
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitleOG,
          image: resolvedImageWithDomain,
        },
        image: {
          secureUrl: resolvedImageWithDomain,
          alt: Mission,
        },
      }}
    />
    <meta name="keywords" content={site.keywords} />
  </head>

  <slot>
    <Body />
  </slot>
  <Styles />

  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Hello, world!</title>
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <meta name="description" content="" />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="favicon-32x32.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="favicon-16x16.png"
      />
      <link
        rel="apple-touch-icon"
        type="image/png"
        sizes="180x180"
        href="apple-touch-icon.png"
      />
      <link rel="icon" type="image/svg+xml" href="favicon.svg" />
      <meta property="og:title" content="" />
      <meta property="og:description" content="" />
      <meta property="og:image" content="" />
      <meta name="twitter:card" content="" />
      <meta name="twitter:site" content="" />
      <meta name="twitter:title" content="" />
      <meta name="twitter:description" content="" />
      <meta name="twitter:image" content="" />
      <link rel="manifest" href="manifest.webmanifest" />
    </head>
    <body>
      <div id="fadein"></div>
      <style>
        /* For best practice, move CSS below to an external CSS file. */
        @keyframes fadeinall {
          0% {
            opacity: 1;
          }
          97% {
            opacity: 0;
          }
          98% {
            opacity: 0;
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          100% {
            opacity: 0;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            z-index: -1;
          }
        }
        #fadein {
          opacity: 1;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          background-color: #ffffff;
          z-index: 999;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-animation: fadeinall 1s normal both;
          animation: fadeinall 1s normal both;
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
        }
      </style>
      <header>
        <h1>Hello, world!</h1>
      </header>
      <nav class="nav" id="nav">
        <a href="#home">Logo</a>
        <a href="#menu-item-1">Menu Item 1</a>
        <a href="#menu-item-2">Menu Item 2</a>
        <a href="#menu-item-3">Menu Item 3</a>
        <a href="javascript:void(0);" id="menu-toggle" onclick="togglemenu()">
          <div class="menu-toggle__bar1"></div>
          <div class="menu-toggle__bar2"></div>
          <div class="menu-toggle__bar3"></div>
        </a>
      </nav>
      <style>
        /* For best practice, move CSS below to an external CSS file. */
        .nav {
          overflow: hidden;
        }
        .nav a {
          float: left;
          margin: 10px;
          display: block;
        }
        .nav #menu-toggle {
          display: none;
        }
        @media screen and (max-width: 600px) {
          .nav a:not(:first-child) {
            display: none;
          }
          .nav a#menu-toggle {
            float: right;
            display: block;
          }
        }
        @media screen and (max-width: 600px) {
          .nav.nav--open {
            position: relative;
          }
          .nav.nav--open #menu-toggle {
            position: absolute;
            right: 0;
            top: 0;
          }
          .nav.nav--open a {
            float: none;
            display: block;
            text-align: left;
          }
        }
        .menu-toggle__bar1,
        .menu-toggle__bar2,
        .menu-toggle__bar3 {
          width: 21px;
          height: 3px;
          background-color: #000000;
          margin: 4px 0;
          transition: 0.3s;
        }
        .menu-toggle--open .menu-toggle__bar1 {
          transform: translate(0, 7px) rotate(-45deg);
        }
        .menu-toggle--open .menu-toggle__bar2 {
          opacity: 0;
        }
        .menu-toggle--open .menu-toggle__bar3 {
          transform: translate(0, -7px) rotate(45deg);
        }
      </style>
      <img src="https://via.placeholder.com/800x600/" alt="" />
      <main>
        <section></section>
        <section></section>
        <section></section>
      </main>
      <footer>
        <small
          >© <script>
            document.write(new Date().getFullYear());
          </script> Your company name. All Rights Reserved.</small
        >
      </footer>
    </body>
    <script>
      function togglemenu() {
        var x = document.getElementById("nav");
        if (x.className === "nav") {
          x.className += " nav--open";
        } else {
          x.className = "nav";
        }
        var element = document.getElementById("menu-toggle");
        element.classList.toggle("menu-toggle--open");
      }
    </script>
    <script type="text/javascript">
      window.onload = function () {
        setTimeout(function () {
          document.getElementById("fadein").remove();
        }, 1000);
      };
    </script>
  </html>
</html>
