---
//components
import Styles from "@components/Styles.astro";
import Junglestar from "@components/Junglestar.astro";
import Svgs from "@components/Svgs.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import GoogleAnalytics from "@scripts/GoogleAnalytics.astro";
import ExternalLinks from "@scripts/ExternalLinks.astro";

import AppendToCopyAction from "@scripts/AppendToCopyAction.astro";

//plugins
import { SEO } from "astro-seo";

//js
export interface Props {
  title: string;
  description: string;
  category: string;
  cssBodyClass: string;
}

const { title, description, category, cssBodyClass } = Astro.props;

//data
import site from "@data/site.json";

const Brand = site.title;
const Mission = site.content_is_about;

//lets build metadatas
const canonicalURL = new URL(Astro.url.pathname, site.url).toString();

const makeTitle = title ? Brand + " 💚 " + title : "J|makeTitle";
// console.log(makeTitle);
const makeTitleOG = title
  ? Brand + ", " + Mission + " 💚 " + title
  : "J|makeTitleOG!";
// console.log(makeTitleOG);
const resolvedImageWithDomain = new URL(site.projectimage, site.url).toString();
---

<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta name="version_name" content={site.version_name} />
    <meta name="version" content={site.version} />

    <Junglestar />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/favicons/safari-pinned-tab.svg"
    />

    <SEO
      title={makeTitle}
      description={description}
      canonical={canonicalURL}
      twitter={{
        creator: site.author.twitter,
        site: site.url,
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitleOG,
          image: resolvedImageWithDomain,
        },
        image: {
          secureUrl: resolvedImageWithDomain,
          alt: Mission,
        },
      }}
    />
    <meta name="keywords" content={site.keywords} />

    <GoogleAnalytics />

    <ExternalLinks />
  </head>
  <body class={cssBodyClass}>
    <Svgs />

    <div id="top"></div>

    <Header data-type={category} />

    <slot />

    <Footer cssClass="default" />

    <AppendToCopyAction />

    <Styles />
  </body>
</html>
