---
import { getCollection, CollectionEntry } from "astro:content";

// component imports
import Layout from "@layouts/Index.astro";
import PostCard from "@components/PostCard.astro";

export async function getStaticPaths() {
  return [
    {
      params: { category: "health" },
      props: { name: "health" },
    },
    {
      params: { category: "know" },
      props: { name: "know" },
    },
    {
      params: { category: "products" },
      props: { name: "products" },
    },
    {
      params: { category: "services" },
      props: { name: "services" },
    },
    {
      params: { category: "solutions" },
      props: { name: "solutions" },
    },
    {
      params: { category: "techniques" },
      props: { name: "techniques" },
    },
  ];
}

const { category } = Astro.params;
const { name } = Astro.props;

const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"category">[] = formatBlogPosts(allPosts);
const catPosts = formattedPosts.filter(
  (post) => slugify(post.data.category) === category
);
---

<Layout title={name}>
  <section class="container" aria-label={`Posts about ${name}`}>
    <h1 class="h1">Posts about <span>{name}</span></h1>
    <div class="post-container">
      {
        catPosts.map((post) => (
          <PostCard data={post.data} url={post.slug} tagType="h2" />
        ))
      }
    </div>
  </section>
</Layout>
